:root {
	/* === FONT FAMILY === */
	--font-family: "Montserrat", sans-serif;

	/* === COLORS === */
	--main-color: #fff;
	--accent-color: #ffea00;
	--bg-color: #2a2a29;
	--secondary-color: #c9c69b;
	--tertiary-color: #9146f3;
	--shadow-color: #181817;
	--disabled-color: #5d5d56;
	--main-glow-color: #ffffff4d;
	--accent-glow-color: #ffea004d;
	--disabled-glow-color: #5d5d564d;
	--overlay: linear-gradient(rgba(30, 30, 30, 0.9), #000 1810%);
	/* #2a2a2980 */

	/* === SHADOWS === */
	--shadow-glow: 0 0 6px 2px var(--main-glow-color);
	--shadow-accent-glow: 0 0 6px 2px var(--accent-glow-color);
	--shadow-disabled-glow: 0 0 6px 2px var(--disabled-glow-color);

	/* === CONTAINER === */
	--container-width: 1240px;
	--container-padding: 15px;

	/* === TRANSITIONS === */
	--transition-time: 0.3s;

	/* === LAYERS === */
	--layer-negative: -1;
	--layer-0: 0;
	--layer-1: 1;
	--layer-2: 2;
	--layer-3: 3;
}
